.formula { 
    font-size: 2em; /* Размер текста */ 
    font-style: italic; /* Курсивное начертание */
   }
   .formula sup,
   .formula sub {
    font-style: normal; 
    font-size: 0.5em; /* Размер индекса */
    color: violet; /* Цвет верхнего индекса */
   }
   .formula sub {
    color: blue; /* Цвет нижнего индекса */
   }